body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(cc.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /** background-color: #f4f4f4; */
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#responseMessage {
    margin-top: 20px;
    text-align: center;
}

